<nav class="navbar navbar-light bg-light">
    <div class="container-fluid d-flex justify-content-between">
        <div class="d-flex">
            <a class="navbar-brand" href="/">Home</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex gap-3 flex-row">
                <li class="nav-item">
                    <a class="nav-link" href="/me/stored">My favorite</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/logout">Logout</a>
                </li>
            </ul>
        </div>
        <form class="d-flex" action="/search">
            <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>